@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Oswald:wght@500&display=swap");

nav{
  background-color: rgba(233, 150, 122, 0);
  display: flex;
  justify-content: space-around;
  width: 100%;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
nav h2 {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding-bottom: 2vh;
  padding-top: 2vh;
  font-family: "Dosis", sans-serif;
  font-weight: 300;
  color: #ffff; 
}

nav:hover {
  background-color: #ffffff5e;
  transition-duration: 1s; 
}

nav .nav-item, nav a, nav #navbarScrollingDropdown, nav .dropdown-item {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Dosis", sans-serif;
  color: #ffff;
  font-weight: 300;
  z-index: 110; 
  list-style: none;
  text-decoration: none;

}
nav .nav-item a:hover, nav #navbarScrollingDropdown:hover, nav .dropdown-item:hover {
  color: #de90ff; 
}

nav .dropdown-menu {
  background-color: transparent;
  color: #ffffff;
}

 nav button {
  /*important para sacar el color del borde del button de bootstrap*/
  color: transparent !important; 
}  

.icon-cart{
  font-size: 3vh;
}
a {
  text-decoration: none;
  list-style: none;
  color: #ffffff; 

}
a:hover {
  color: #de90ff; 
}
